<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <!-- Connection Strings -->
  <connectionStrings>
    <add name="AutoReservationContext"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AutoReservation;Integrated Security=True;MultipleActiveResultSets=True;App=AutoReservation"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- WCF service configuration -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AutoReservationServiceBehavior"
               name="AutoReservation.Service.Wcf.AutoReservationService">
        <endpoint binding="netTcpBinding"
                  name="AutoReservationService"
                  contract="AutoReservation.Common.Interfaces.IAutoReservationService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7876/AutoReservationService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AutoReservationServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!-- WCF client configuration -->
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:7876/AutoReservationService"
                binding="netTcpBinding"
                name="AutoReservationService"
                contract="AutoReservation.Common.Interfaces.IAutoReservationService"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
